@model ASP_NET.Models.Forum.ForumSectionModel

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="@Model.Logo" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-9 d-flex flex-column">
      <div class="card-body">
        <a asp-controller="Forum" asp-action="Sections" asp-route-id="@Model.UrlIdString">
        <h5 class="card-title">@Model.Title</h5>
        </a>
        <p class="card-text">@Model.Description</p>
      </div>
      <div class="card-footer d-flex align-items-center">
        Started: @Model.CreatedDtString 
        @if (Model.AuthorAvatar is not null)
        {
          <img style="max-width: 50px; max-height: 50px" src="@Model.AuthorAvatar" alt="ava"/>
        }
        <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.AuthorLogin">@Model.AuthorName</a>
        <span class="u-link-v5 g-color-gray-dark-v4 mx-3" role="button"
              data-rate="@Model.UrlIdString" data-rate-value="1"
              data-rate-given="@(Model.GivenRate == 1)">
          @if (Model.GivenRate == 1)
          {
            <i class="bi-hand-thumbs-up-fill"></i>
          }
          else
          {
            <i class="bi-hand-thumbs-up"></i>
          }
          @Model.LikesCount
        </span>
        <span class="u-link-v5 g-color-gray-dark-v4 mx-3" role="button" 
              data-rate="@Model.UrlIdString" data-rate-value="-1"
              data-rate-given="@(Model.GivenRate == -1)">
          @if (Model.GivenRate == -1)
          {
            <i class="bi-hand-thumbs-down-fill"></i>
          }
          else
          {
            <i class="bi-hand-thumbs-down"></i>
          }          
          @Model.DislikesCount
        </span>
        
        <span class="mx-3">
          <i class="bi bi-eyeglasses"></i>
          @Model.Sights
        </span>
      </div>
    </div>
    
  </div>
</div>