@model ASP_NET.Models.Forum.ForumThemesPageModel

@{
    ViewData["Title"] = "Theme";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var topic in Model.Topics)
    {
        @Html.DisplayFor(m => topic, "TopicTemplate")
    }
</div>


@if (Model.UserCanCreate)
{
    <div class="row">
        <div class="col col-6">
            <h5>@(Model.FormModel is null ? "" : Model.FormModel.Title)</h5>
            <h5 class="modal-title" id="authModalLabel">Ask new question</h5>
            @if (Model.CreateMessage is not null)
            {
                <div class="alert alert-@(Model.IsMessagePositive == true ? "success" : "danger")" role="alert">
                    @Model.CreateMessage
                </div>
            }
            <form asp-controller="Forum" asp-action="CreateTopic" method="post">
                <div class="form-group">
                    <label for="topic-title">Question Title</label>
                    <input type="text" class="form-control"
                           value="@(Model.FormModel is null ? "" : Model.FormModel.Title)"
                           id="topic-title" name="topic-title"
                           placeholder="Main idea of the Question"/>
                </div>
                <div class="form-group">
                    <label for="topic-description" class="form-label">Question Text</label>
                    <textarea class="form-control" id="topic-description" rows="3"
                    name="topic-description"
                    placeholder="Detail question formulation">@(Model.FormModel is null ? "" : Model.FormModel.Description)</textarea>
                </div>
                <input type="hidden" name="theme-id" value="@Model.ThemeIdString"/>
                <button type="submit" class="btn btn-light my-3">Create</button>
            </form>
        </div>
    </div>
}